<div class="factura">
    <div>
      <br />
      <h1><b>Resumen del Carrito</b></h1>
      <div class="row" style="text-align: left">
        <div class="col-md-6"><b>TOTAL PRODUCTOS: 0</b></div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6" style="text-align: left">
          <b>Precio sin impuestos:</b>
        </div>
        <div class="col-md-6 text-right">{{prePrecio()}}$</div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6" style="text-align: left">
          <b>Costo de Envio:</b>
        </div>
        <div class="col-md-6 text-right">00.00$</div>
      </div>
      <br />

      <div class="row">
        <div class="col-md-6" style="text-align: left">
          <b>Servicio de Regalo</b>
        </div>
        <div class="col-md-6 text-right">00.00$</div>
      </div>
      <br />

      <br />
      <div class="row">
        <div class="col-md-6" style="text-align: left">
          <b>Total IVA 12%:</b>
        </div>
        <div class="col-md-6 text-right">{{totalSinIva()}}$</div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6" style="text-align: left">
          <b>Total de la Orden:</b>
        </div>
        <div class="col-md-6 text-right">{{totalIva()}}$</div>
      </div>
    </div>
    <br />
    <br />
    <div>
      <button (click)="comprar()"  type="button" class="btn btn-primary btn-lg" style="border-radius: 15px">
        Comprar
        <i class="bi bi-bag"></i>
      </button>
    </div>
  </div>
