<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="nombrePersona">
      <th mat-header-cell *matHeaderCellDef> Nombre Persona</th>
      <td mat-cell *matCellDef="let element"> {{element.nombrePersona}}</td>
    </ng-container>

    <ng-container matColumnDef="apellidoPersona">
      <th mat-header-cell *matHeaderCellDef> Apellido Persona</th>
      <td mat-cell *matCellDef="let element" class='m-card-title'> {{element.apellidoPersona}}</td>
    </ng-container>

    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef> Titulo</th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>

    <ng-container matColumnDef="edicion">
      <th mat-header-cell *matHeaderCellDef> Edicion</th>
      <td mat-cell *matCellDef="let element" class='m-card-sub-title'> {{element.edicion}} </td>
    </ng-container>

    <ng-container matColumnDef="editorial">
      <th mat-header-cell *matHeaderCellDef> Editorial</th>
      <td mat-cell *matCellDef="let element" class='m-card-sub-title'> {{element.editorial}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaPublicacion">
      <th mat-header-cell *matHeaderCellDef> Fecha Publicacion</th>
      <td mat-cell *matCellDef="let element">{{formatDate(element.fechaPublicacion)}} </td>
    </ng-container>

    <ng-container matColumnDef="nombreAutor">
      <th mat-header-cell *matHeaderCellDef> Nombre Autor</th>
      <td mat-cell *matCellDef="let element">{{element.nombreAutor}}  </td>
    </ng-container>

    <ng-container matColumnDef="apellidoAutor">
      <th mat-header-cell *matHeaderCellDef> Apellido Autor</th>
      <td mat-cell *matCellDef="let element">{{element.apellidoAutor}}  </td>
    </ng-container>

    <ng-container matColumnDef="modificar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteSuggestions(element.id_sugerencia)">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>

            <button mat-menu-item (click)="editSuggest(element)">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
          </mat-menu>
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

