<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#4862af" fill-opacity="1" d="M0,128L48,144C96,160,192,192,288,192C384,192,480,160,576,144C672,128,768,128,864,149.3C960,171,1056,213,1152,202.7C1248,192,1344,128,1392,96L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#007acc;"></path>
</svg>

<footer class="text-center text-white ">

  <div class="container-xl">

    <div class=" row-cols-1 justify-content-start list-unstyled imagen-logo ">
      <img src="assets/img/logo-small-bookish.png" height="100" width="170" class="d-inline-block align-text-top" alt="Bookish-logo" style="margin-top: 15px;">
      <p class="text-white">Un Lugar que Cautiva</p>
    </div>

    <div class="container row-cols-sm-8" style="padding: 10px;">

      <!-- Social Media -->
      <section class="justify-content-sm-end list-unstyled d-flex justify-content-center" style="margin-right: 10px;">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
      </section>

      <section>

        <section>
          <ul class="nav justify-content-center mt-3">
            <li class="nav-item" *ngFor="let item of listSection"><a style="font-size: 20px;" href="#" class="nav-link px-2 text-white"> {{item}} </a></li>
          </ul>
        </section>

        <div class="row d-sm-flex justify-content-end mt-3 mb-3">

          <!-- <div class="col-auto">
            <p class="pt-2">
              <strong>Suscribete</strong>
            </p>
          </div> -->

          <div class="row-cols-sm-2 col-8 col-sm-3">
            <div class="input-group">
              <input type="email" id="form5Example21" class="form-control" placeholder="Suscribete" />
              <span class="input-group-btn">
                <a style="color: #ffffff;" href="#!" role="button" class="btn btn-success ">
                  <i class="fas fa-paper-plane"></i>
                </a>
              </span>
            </div>
          </div>

        </div>

      </section>

      <!-- 
      <section class="">
        <div class="row"></div>
      </section> -->

    </div>

    <div class="text-center p-1 border-top pb-2">
      <p>
        © 2022 Copyright:
        <a class="text-white " href="#">juanitoclavounclavito.com</a>
      </p>
    </div>

  </div>
</footer>