@media screen and (min-width: 700px) {
  .imagen-logo {
    height: 0;
    width: 170px;
  }
}

footer,
a {
  color: var(--sc-9);
}

#content {
  background-color: var(--pc-amparo-blue);
}

image {
  /* width: "170";
  height: "100";
  margin-top: 15px; */
}
