<div style="text-align: center; padding: 20px;">
  <!-- <ul style="list-style: none;">
        <li><i class="fa-solid fa-circle-1"></i> <b>Carrito de compras</b>   ----  </li>
   
        <li>Datos de pago  ----  </li>
       
        <li>Confirmación</li>
    </ul> -->

  <div class="carritoSection">
    <div class="align">
      <app-carrito-section [inputItem]="devVal()"></app-carrito-section>

    </div>
  </div>

  <!-- <div>
        <mat-card class="example-card">
            
        </mat-card>
    </div> -->
</div>
<!-- <style>
  @media screen and (max-width: 480px) {

    .align {
      display: flex;
      justify-content: center;
      align-items: center;
    }


  }
</style> -->