/** Typography Scale **/

:root {
  /* Font Family (--ff) */
  --ff-fredoka: "Fredoka One", cursive;
  --ff-fresca: "Fresca", sans-serif;
  /* Font Size (--fs-)*/
  font-size: 16px;
  --fs-h1: 4rem; /* 64px */
  --fs-h2: 2.5rem; /* 40px */
  --fs-h3: 1.5rem; /* 24px */
  --fs-h4: 1.25rem; /* 20px */
  --fs-h5: 1.1rem; /* 16px */
  --fs-p: 1.1rem; /* 16px */
  /* Font Weight (--fw) */
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  /* Line Height (--lh) */
  --lh-h5: 1.375em; /* 22px */
  --lh-p: 1.8em; /* 22px */
  /* Letter Spacing (--ls) */
  --ls-h1: -0.02em; /* 0.32px */
  --ls-h2: -0.02em; /* 0.32px */
  --ls-h3: -0.02em; /* 0.32px */
  --ls-h4: -0.02em; /* 0.32px */
  --ls-button: 0.06em
  /* Break Points (--bp) */
  --bp-xl: 1140px;
  --bp-lg: 960px;
  --bp-md: 720px;
  --bp-sm: 540px;
}

body {
  /* font-family: var(--ff-fredoka); */
}

.tp-h1,
h1 {
  font-family: var(--ff-fredoka);
  font-weight: var(--fw-regular);
  font-size: var(--fs-h1);
  /* line-height: ; */
  letter-spacing: var(--ls-h1);
}

.tp-h2,
h2 {
  font-family: var(--ff-fredoka);
  font-weight: var(--fw-regular);
  font-size: var(--fs-p);
  /* line-height: ;*/
  letter-spacing: var(--ls-h2);
}

.tp-h3,
h3 {
  font-family: var(--ff-fredoka);
  font-weight: var(--fw-regular);
  font-size: var(--fs-h3);
  /* line-height: ;*/
  letter-spacing: var(--ls-h3);
}

.tp-h4,
h4 {
  font-family: var(--ff-fredoka);
  font-weight: var(--fw-regular);
  font-size: var(--fs-h4);
  /* line-height: ;*/
  letter-spacing: var(--ls-h4);
}

.tp-h5,
h5{
  font-family: var(--ff-fredoka);
  font-weight: var(--fw-regular);
  font-size: var(--fs-h4);
  line-height: var(--lh-h5);
  /* letter-spacing: ; */
}


.tp-body,
p {
  font-family: var(--ff-fresca);
  font-weight: var(--fw-regular);
  font-size: var(--fs-p);
  line-height: var(--lh-p);
  /* letter-spacing: ; */
}

.tp-button {
  font-family: var(--ff-fredoka) !important;
  font-weight: var(--fw-regular);
  font-size: var(--fs-p);
  /* line-height: var(--lh-p); */
  letter-spacing: var(--ls-button);
  /* text-transform: uppercase; */
}

.tp-link {
  font-family: var(--ff-fresca)!important;
  font-weight: var(--fw-regular)!important;
  font-size: var(--fs-p)!important;
  line-height: var(--lh-p)!important;
  color: var(--pc-amparo-blue) !important;
  text-decoration: underline !important;
}
