<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav " fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <mat-toolbar class="justify-content-center">Bookish</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item class="items-list" [routerLink]="item.rout" *ngFor="let item of listItems">
        <div class="bi {{item.class}}">
          {{item.displayName}}
        </div>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Panel de Control de Bookish</span>

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>