<div>
  <div class="row justify-content-md-center">
    <div class="col-lg-3">
      <div class="container color img">
        <img src="assets/img/books/{{InputLibros.imagen.nombreImagen}}" alt="{{InputLibros.titulo}}" height="450"
             width="250">
      </div>
    </div>

    <div class="col-lg-5">
      <div class="container principal">
        <h1>{{InputLibros.titulo}}</h1>
        <p>{{InputLibros.autor.nombreAutor}} {{InputLibros.autor.apellidoAutor}}</p>
        <h2>${{InputLibros.precio.toFixed(2)}} <i>*incluye IVA</i></h2>
        <div *ngIf="InputLibros.cantidad == 0" class="agotado">
          <p>Agotado</p>
        </div>
        <button mat-flat-button [color]=" isAddedCarrito ? 'accent' : 'primary'" [disabled]="InputLibros.cantidad == 0" (click)="addCart()">
          <mat-icon>add_shopping_cart</mat-icon>
          {{!isAddedCarrito ? "Agregar al carrito" : "Eliminar del carrito"}}
        </button>
      </div>

      <div class="container descrip">
        <h2>Descripción</h2>
        <p>{{InputLibros.descripcion}}</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">

    <div class="col-lg-3">
      <div class="container color">
        <h2>Detalles</h2>
        <p>
          Editorial: {{InputLibros.editorial.nombreEditorial}}<br>
          Fecha de publicación: {{format(InputLibros.fechaPublicacion)}}<br>
          Páginas: {{InputLibros.numPaginas}}<br>
          ISBN: {{InputLibros.isbn}}<br>
        </p>
      </div>
    </div>

    <div class="col-lg-5">
      <div class="container color">
        <h2>Categorías</h2>
        <button class="button">{{InputLibros.categoria.nombreCategoria}}</button>
      </div>
    </div>

  </div>
</div>
