<div *ngFor="let item of listDetalle">{{item}}
  <div class="row justify-content-md-center">
    <div class="col-lg-3">
      <div class="container color img">
        <img src="assets/img/books/{{item.imagen.nombreImagen}}" alt="{{listDetalle.titulo}}" height="450" width="250">
      </div>
    </div>

    <div class="col-lg-5">
      <div class="container principal">
        <h1>{{InputLibros.titulo}}</h1>
        <p *ngFor="let autor of InputLibros.autor">{{autor.nombreAutor}} {{autor.apellidoAutor}}</p>
        <h2>${{InputLibros.precio.toFixed(2)}} <i>*incluye IVA</i></h2>
        <div *ngIf="InputLibros.cantidad == 0" class="agotado">
          <p>Agotado</p>
        </div>
        <button mat-flat-button color="primary" [disabled]="InputLibros.cantidad == 0" (click)="addCart()">
          <mat-icon>add_shopping_cart</mat-icon>Agregar al carrito
        </button>
      </div>

      <div class="container descrip">
        <h2>Descripción</h2>
        <p>{{InputLibros.descripcion}}</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">

    <div class="col-lg-3">
      <div class="container color">
        <h2>Detalles</h2>
        <p>
          Editorial: {{InputLibros.editorial.nombreEditorial}}<br>
          Fecha de publicación: {{format(InputLibros.fechaPublicacion)}}<br>
          Páginas: {{InputLibros.numPaginas}}<br>
          ISBN: {{InputLibros.isbn}}<br>
        </p>
      </div>
    </div>

    <div class="col-lg-5">
      <div class="container color">
        <h2>Categorías</h2>
        <button class="button" *ngFor="let categ of InputLibros.categoria">{{categ.nombreCategoria}}</button>
      </div>
    </div>

  </div>
</div>