<!-- one header for all (depending on rol, hide sections or tags) -->
<header>
  <nav class="navbar navbar-expand-lg container-xl">
    <div class="container-fluid">

      <a class="tp-h5 navbar-brand" [routerLink]="listNavItem[0].address">Bookish Bookshop</a>

      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"></button> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon class="icon-display">menu</mat-icon>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li [routerLinkActive]="'active'" class="nav-item" *ngFor="let item of listNavItem">
            <a class="tp-h5 nav-link" [routerLink]="item.address"> {{item.name}} </a>
          </li>
        </ul>

        <a [routerLink]="'/carrito/compra'">
          <mat-icon>shopping_cart</mat-icon>{{itemCount()}}
        </a>

        <form *ngIf="userName == ''">
          <app-button-secondary [buttonName]="'Registrarse'" (click)="openSignUp()" class="mx-2"></app-button-secondary>
          <app-button-primary [buttonName]="'Iniciar sesión'" (click)="openLogIn()"></app-button-primary>
        </form>

        <form *ngIf="userName != ''">
          <!-- <i class="bi bi-caret-down-fill" style="color: white;"></i> -->
          <app-button-primary [iconDisabled]="false" [buttonName]="userName+''" mat-button [matMenuTriggerFor]="beforeMenu" class="mx-2"></app-button-primary>
          <!-- <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button> -->
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <!-- <button mat-menu-item *ngFor="let item of listOptions"> {{item}} </button> -->
            <button mat-menu-item (click)="openCPanel()"> Configuración </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="openLogOut()"> Salir </button>
          </mat-menu>
        </form>
      </div>

    </div>
  </nav>
</header>