.navbar-toggler:focus {
  box-shadow: none;
}

header {
  background-color: var(--pc-amparo-blue);
  /* height: 64px; */
}

img {
  height: 30px;
}

a,
li {
  color: var(--tce-1);
}

.active {
  background-color: var(--tce-1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.active a {
  color: var(--pc-amparo-blue);
}

li :hover {
  color: var(--pc-goldenrod-field);
}

.icon-display {
  transform: scale(2);
}

mat-icon {
  color: var(--tce-1);
}
