<div class="container-xl">
  <!-- #region Slider -->
  <div id="carouselExampleControls" class="carousel slide carousel-fade  mt-5" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item {{item.carousel}}" *ngFor="let item of listCarousel">
        <img src="assets/img/home/{{item.imgSrc}}" class="d-block w-100" data-bs-interval="10000" alt="{{item.imgAlt}}" />
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- #endregion -->

  <!-- #region Novedades Y Noticias-->
  <div class="row mt-5">
    <!-- #region Novedades -->
    <div class="col col-ms-2 ms-3">
      <h1>Novedades</h1>

      <div class="row row-cols-1 row-cols-sm-4 me-3">
        <app-libro class="col" [InputLibros]="libro" *ngFor="let libro of filtrarCategoria(listLibros, listCategorias, 0)"></app-libro>
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region News highlight -->
    <div class="col-11 col-md-4 ms-3">
      <h1>Noticias destacadas</h1>

      <div style="margin-top: 16px;">
        <app-card-noticias [inputItem]="item" *ngFor="let item of listNoticias | slice:0:7"></app-card-noticias>
      </div>
    </div>
    <!-- #endregion -->
  </div>
  <!-- #endregion -->

  <!-- TEST -->
  <div>
    <h1>H1</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <h4>H4</h4>
    <h5>H5</h5>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque perferendis beatae asperiores reiciendis eaque molestiae accusantium ratione facilis eveniet tenetur, quaerat qui porro nesciunt fugiat alias esse tempore sunt enim magnam similique corrupti dolor quis minima itaque! Id inventore iure fugiat adipisci assumenda obcaecati ullam temporibus corporis, nihil veniam perferendis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit a voluptatibus ullam eligendi amet, ratione labore sunt at ducimus, cum blanditiis! Sunt, provident maiores. Est, ullam ex! Quo, reiciendis alias.</p>
  </div>

</div>